*{
	box-sizing: border-box;
}
body{
	background-color: white;
	/*rgb(13, 17, 23);*/
	text-align: center;
	/*color:rgb(201, 209, 217)*/
}
:root{
    --mode: dark;

}
.redirect {
	margin-top: 16px;
	border: #1b1b1b 1px solid;
	border-radius: 6px;
	padding: 10px;
}
.form-container {
	width: 420px;
	padding: 5%;
	margin: 0 auto 10px;
}
.input-label {
	text-align: left;
}
input[type='text'],
input[type='password'],
input[type='email'] {
	max-width: 100%;
	padding: 8px 20px;
	display: inline-block;
	background-color: rgb(225, 228, 232);
	border: 1px solid #6f94c6;
	border-top: 0;
	border-radius: 6px;
}

.container {
	border: #264b5d 1px solid;
	padding: 25px;
	background-color: #79aec8;
	/*rgb(22, 27, 34);*/
	border-radius: 16px;
}

.errorlist {
	background-color: rgb(50, 50, 50);
	border-radius: 12px;
	opacity: 60;
	color: rgb(255, 123, 114);
	font-size: 16px;
	list-style-type: none;
	background-image: linear-gradient(
		rgba(220, 0, 73, 0.1),
		rgba(220, 0, 73, 0.1)
	);
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
	border-width: 1px;
	border-color: rgb(255, 123, 114);
	border-style: solid;
}
.forgot-link {
	position: absolute !important;
}
