{% extends 'base.html' %}

{% load tags %}
{% load static %}
{% block extra_head %}
<link
    rel="stylesheet"
    href="{% static 'home/css/posts.css' %}"
    type="text/css"
  />
{% endblock %}
{% block content %}
<div class="container" style="display: flex">
<div class="container" style="width: 300px; margin-top: 20px">
<h2> Classes you have joined</h2>
  {% for i in joined %}
    <a href={% url 'classesDetail'  i.id  %}>
    <div class='post'>
          <h1>Class: {{ i.class_name }}</h1>
          <p>Teacher: {{ i.teacher_id }}</p>
      {% if i.assignments.all %}
          <div class = 'footer'>{{ i.assignments.all|length_active }} Assignments</div>
      {% else %}
          <div class = 'footer'>0 Assignments</div>
      {% endif %}
      </div>
    </a>
  {% endfor %}
</div>

<div class="container" style="width: 300px; margin-top: 20px">
<h2>Classes you teach</h2>
  {% for i in teacher %}
    <a href={% url 'classesDetail'  i.id  %}>
    <div class='post'>
          <h1>Class: {{ i.class_name }}</h1>
          <p>Teacher: {{ i.teacher_id }}</p>
      {% if i.assignments.all %}
          <div class = 'footer'>{{ i.assignments.all|length_active }} Assignments</div>
      {% else %}
          <div class = 'footer'>0 Assignments</div>
      {% endif %}
      </div>
    </a>
  {% endfor %}
</div>

<div class="container" style="width: 300px; margin-top: 20px">
<h2>Public classes you can join</h2>
  {% for i in public %}
    <a href={% url 'classesDetail'  i.id  %}>
    <div class='post'>
          <h1>Class: {{ i.class_name }}</h1>
          <p>Teacher: {{ i.teacher_id }}</p>
      {% if i.assignments.all %}
          <div class = 'footer'>{{ i.assignments.all|length_active }} Assignments</div>
      {% else %}
          <div class = 'footer'>0 Assignments</div>
      {% endif %}
      </div>
    </a>
  {% endfor %}
</div>
  </div>
{% endblock %}