{% extends 'registration/registration_base.html' %}
{% block navbar %}{% endblock %}
{% block form_title %} Change Password {% endblock %}
{% block form %}
<div class="container">
    <div class="input-label">
        <label for="{{ form.email.id_for_label }}"
            >Email
        </label>
        {{ form.email.errors }}
    </div>
    <label>
        <input
            type="email"
            name="{{ form.email.name }}"
            id=" {{ form.email.id_for_label }}"
            autocomplete="current-password"
            required
        />
    </label>
        <input class="submit" type="submit" name="Sign in " />
</div>
{% endblock %}