<!DOCTYPE html>
<html lang="en">
	{% load static %}{% load tags %}{% load django_simple_bulma %} {% bulma %}
	{% font_awesome%}
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="google-site-verification"
			content="iDQL3060-udG_CC8R-kNSEDe5D1_teAcxzguYmd4H1Y"
		/>
		<link rel="icon" href="{% static 'svg/logo.svg' %}" />
		{# Verify with google#} !-- Primary Meta Tags -->
		<title>Edu Orange</title>
		<meta name="title" content="Edu Orange" />
		<meta
			name="description"
			content="A simple school portal website for students and teachers"
		/>

		<!-- Open Graph / Facebook / Discord-->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ request.build_absolute_uri }}" />
		<meta property="og:title" content="Edu Orange" />
		<meta
			property="og:description"
			content="A simple school portal website for students and teachers"
		/>
		<meta property="og:image" content="{% fullstatic 'svg/logo.svg' %}" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta
			property="twitter:url"
			content="{{ request.build_absolute_uri }}"
		/>
		<meta property="twitter:title" content="Edu Orange" />
		<meta
			property="twitter:description"
			content="A simple school portal website for students and teachers"
		/>
		<meta
			property="twitter:image"
			content="{% fullstatic 'svg/logo.svg' %}"
		/>
		<meta content="{{ request.build_absolute_uri }}" property="og:url" />
		<meta content="{% fullstatic 'svg/logo.svg' %}" property="og:image" />
		<meta content="#c77905" data-react-helmet="true" name="theme-color" />
		<link
			rel="stylesheet"
			href="{% static 'home/css/base.css' %}"
			type="text/css"
		/>
		{% block extra_head %}{% endblock %}
	</head>
	<body>
		{% block navbar %}
		<div id="navigation-container">
			<nav
				class="navbar"
				role="navigation"
				aria-label="main navigation"
				style="padding-left: 0"
			>
				<div class="navbar-brand">
					<a class="navbar-item" href="/">
						<img
							src="{% static 'svg/logo.svg' %}"
							width="50"
							height="28"
							alt="site logo"
						/>
						Home
					</a>
					<a
						role="button"
						class="navbar-burger"
						aria-label="menu"
						aria-expanded="false"
						data-target="navbarMain"
					>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
						<span aria-hidden="true"></span>
					</a>
				</div>

				<div id="navbarMain" class="navbar-menu">
					<div class="navbar-start">
						{% if user.is_authenticated %}
						<a class="navbar-item" href="{% url 'ClassesView' %}"
							>Classes</a
						>
						<a class="navbar-item" href="{% url 'TimeTable' %}"
							>Timetable
						</a>
						<a class="navbar-item" href="{% url 'postView' %}"
							>Posts
						</a>
						{% endif %}
					</div>

					<div class="navbar-end">
						{% if user.is_authenticated %}
						<div class="navbar-item has-dropdown is-hoverable">
							<a class="navbar-link" style="color: unset">
								{{ user.username | capfirst }}
							</a>

							<div class="navbar-dropdown is-right">
								<a
									class="navbar-item"
									href=" {% url 'profile' %}"
									>Profile</a
								>
								<a
									class="navbar-item"
									href="{% url 'password_change' %}"
									>Change Password</a
								>
								<hr class="navbar-divider" />
								<a class="navbar-item" href="{% url 'logout' %}"
									>Sign Out</a
								>
							</div>
						</div>
						{% else %}
						<div class="navbar-item">
							<div class="buttons">
								<a
									class="button"
									href="{% url 'register' %}"
									style="color: unset"
								>
									<strong>Sign up</strong>
								</a>
								<a
									class="button"
									href="{% url 'login' %}"
									style="color: unset"
								>
									Log in
								</a>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</nav>
		</div>
		{% endblock %} {% block content %} {% endblock %}
		<meta
			name="google-site-verification"
			content="iDQL3060-udG_CC8R-kNSEDe5D1_teAcxzguYmd4H1Y"
		/>
		{# Verify by google#}
	</body>
</html>
