asgiref==3.4.1
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.10
coreapi==2.3.3
coreschema==0.0.4
dj-database-url==0.5.0
Django==3.2.10
django-appconf==1.0.5
django-invitations==1.9.3
django-storages==1.12.3
djangorestframework==3.13.1
drf-yasg==1.20.0
dropbox==11.25.0
gunicorn==20.1.0
idna==3.3
inflection==0.5.1
itypes==1.2.0
Jinja2==3.0.3
libsass==0.21.0
MarkupSafe==2.0.1
mccabe==0.6.1
packaging==21.3
Pillow==8.4.0
ply==3.11
psycopg2-binary==2.9.3
pyflakes==2.4.0
pymemcache==3.5.0
pyparsing==2.4.7
python-dotenv==0.19.2
pytz==2021.3
PyYAML==6.0
rcssmin==1.1.0
requests==2.27.1
requests-unixsocket==0.3.0
rjsmin==1.2.0
ruamel.yaml==0.17.20
ruamel.yaml.clib==0.2.6
six==1.16.0
sqlparse==0.4.2
stone==3.2.1
tzlocal==4.1
uritemplate==4.1.1
urllib3==1.26.7
whitenoise==5.3.0
git+https://github.com/Ceres445/django-simple-bulma
