<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class Timetable</title>
<style>
#table {
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#table td, #table th {
  border: 1px solid gray;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}
#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #03bafc;
  color: white;
</style>
</head>
<body>
<table id="table">
    <tr>
        <th>Subject</th>
        <th>Time</th>
        <th>Link</th>
        <th>Days</th>
    </tr>

    <tr>
        <td>Physics</td>
        <td>10:00am - 12:00 noon</td>
        <td><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Physics Class Link</a></td>
        <td>Monday , Wednesday and Friday</td>
    </tr>

    <tr>
        <td>Chemistry</td>
        <td>8:00am - 10:00am </td>
        <td><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Chemistry Class Link</a></td>
        <td>Tuesday , Thursday and Saturday</td>
    </tr>

    <tr>
        <td>Biology</td>
        <td>5:00pm - 7:00pm</td>
        <td><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Biology Class Link</a></td>
        <td>Monday , Wednesday and Friday</td>
    </tr>

    <tr>
        <td>Math</td>
        <td>5:00pm - 7:00pm</td>
        <td><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Math Class Link</a></td>
        <td>Tuesday , Thursday and Saturday</td>
    </tr>

    <tr>
        <td>English</td>
        <td>12:00pm - 1:00pm</td>
        <td><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">English Class Link</a></td>
        <td>Everyday</td>
    </tr>

    <tr>
        <td>Computer Science</td>
        <td>1:00pm - 2:00pm</td>
        <td><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Computer Science Class Link</a></td>
        <td>Everyday</td>
    </tr>
</table>
</body>
</html>