{% extends 'base.html' %}
{% load static %}
{% load compress %}
{% block extra_head %}
{% compress css file style %}
  <link
        rel="stylesheet"
        href="{% static 'home/css/index.css' %}"
        type="text/css"
  />
{% endcompress %}
{% compress css file style %}
<link
    rel="stylesheet"
    href="{% static 'home/css/forms.css' %}"
    type="text/css"
  />
{% endcompress %}
{% endblock %}
{% block content %}
<div class="container">
  <div class="header">
    <button class="tablink" name='Public' id="defaultOpen">Public Announcements</button>
    <button class="tablink" name='Class'>Teacher Updates</button>
    <button class="tablink" name='Site'>Site Updates</button>
    <button class="tablink" name='Forum'>Public Forum</button>
  </div>

  <div class="selector" id = 'selector-div'></div>
  <div class="tabcontent"></div>

  <div class="light-container" id="post-form">
  <form enctype="multipart/form-data"   novalidate>
      <div class="form-group ">
        <label class="input-label">
          Title
        </label>
        <input name="title" class="form-control" type="text" value="" id = 'title-input'>
      </div>
      <div class="form-group ">
        <label class="input-label">
          Content
        </label>
      <textarea name="content" cols="40" rows="10" maxlength="500" class="input-label"  id = 'content-input'></textarea>
      </div>

      <div class="form-actions" id = 'button-space'>
      <button class="submit" title="" type="submit">Post</button>
      </div>
  </form>

  </div>
</div>

  {% if courses %}
{{ courses| json_script:'courses' }}
  {% endif %}
{% compress parcel file myjs  %}
  <script src="{% static 'home/js/index.js' %}" type="module"></script>
{% endcompress %}
{% endblock %}