{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Post {{ post.title }}</title>
{% endblock %}

{% block content %}
<div class="container">
{#<div class="loader" id = 'post-loader'></div>#}
  <div class="post-container">
    <div class="post-title">

    </div>
    <div class="post-content">

    </div>
    <div class="post-links">

    </div>
  </div>
  <div class="comments-container">
    {% for comment in comments %}
      <div class="comment-container">
        <p class="'comment-author">{{ comment.author }}</p>
      <p class="comment-body">{{ comment.body }}</p>
      <p class="timestamp">{{ comment.created_at }}</p>
      </div>
    {% endfor %}
  </div>
</div>
  {{ pk| json_script:'post_pk' }}
<script src=" {% static 'home/js/post_view_detail.js' %}"></script>
{% endblock %}