{% extends 'base.html' %}


{% block head %}
<title>Profile</title>
{% endblock %}

{% block content %}
<div class="container card">
    <h1>Profile</h1>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Bio: {{ user.profile.bio }}</p>
    <p>Type: {{ user.profile.get_user_type_display }}</p>
    <p>Classes joined: {{ courses }}
    {% if user.profile.avatar %}
    <img src="{{ user.profile.avatar.url }}" width="240" alt="Profile Image">
    {% endif %}
</div>
<a href="{% url 'viewPosts' %}"> View Posts</a>
<a href="{% url 'editProfile' %}"> Edit Profile</a>
{% endblock %}