{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
<link
			rel="stylesheet"
			href="{% static 'home/css/index.css' %}"
			type="text/css"
		/>
<link
    rel="stylesheet"
    href="{% static 'home/css/posts.css' %}"
    type="text/css"
  />
{% endblock %}
{% block content %}

<div class="posts-container">
<h1> {{ user.username }}'s Posts </h1>
<div class="posts"></div>
</div>

{{ pk| json_script:'user_pk' }}
<script src="{% static 'home/js/view_user_posts.js' %}" type="module"></script>

{% endblock %}