@import "../../home/css/posts.css";
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@500&display=swap');

table {
    font-family: 'Yaldevi', sans-serif;
    border-collapse: collapse;
    width: 70%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.span {
    background-color: hsl(222, 50%, 18%);
}

table td, table th {

    border: #264b5d 1px solid;
    padding: 8px;

}

table tr:nth-child(even) {
    background-color: hsl(222, 50%, 18%);
}

table tr:hover {
    background-color: hsl(222, 60%, 40%);
    cursor: pointer;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--background);
    color: white;
}
.min {
    width: auto !important;
}