*{
	box-sizing: border-box;
}
:root{
    --mode: dark;

}
.redirect {
	margin-top: 16px;
	border: #1b1b1b 1px solid;
	border-radius: 6px;
	padding: 15px 20px;
	text-align: center;
}
.form-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-flow: column wrap;
	width: 350px;
	padding: 15px;
	margin: 50px auto 10px;
}

textarea,
input[type='text'],
input[type='password'],
input[type='email'] {
	width: 100%;
	padding: 8px 20px;
	background-color: rgb(33, 32, 45);
	border: 1px solid #264b5d;
	border-top: 0;
	border-radius: 6px;
	margin-bottom: 10px;
}

.container {
	border: #264b5d 1px solid;
	padding: 25px;
	display: flex;
	flex-direction: column;
	background-color: rgb(22, 27, 34);
	justify-content: space-around;
	border-radius: 16px;
	flex: 0 0 auto;
}

.errorlist {
	background-color: rgb(50, 50, 50);
	border-radius: 12px;
	opacity: 60;
	color: rgb(255, 123, 114);
	font-size: 16px;
	list-style-type: none;
	background-image: linear-gradient(
		rgba(220, 0, 73, 0.1),
		rgba(220, 0, 73, 0.1)
	);
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
	border-width: 1px;
	border-color: rgb(255, 123, 114);
	border-style: solid;
}
.forgot-link {
	float: right;
}
.submit {
	align-self: center;
	background-color: white;
	width: 100%;
	color: black;
	padding: 5px 15px;
	font-weight: 500;
	margin-top: 10px;
	border-radius: 8px;
	cursor: pointer;
	transition-duration: 0.4s;
	border: 2px solid #264b5d;
}
.submit:hover {
	background-color: #1e6ed6 ;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 0 0 rgba(0, 0, 0, 0.19);
}
.light-container{
	padding: 19px;
	background-color: #f5f5f5;
	border: 1px solid;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	/*justify-content: space-evenly;*/
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.header{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}