/*CSS for index page*/


.tablink {
  background-color: white;
  width: 175px;
  color: black;
  padding: 15px;
  float: left;
    margin: 20px 0 20px 6px;
    border: none;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.tablink:hover {
  background-color: #1e6ed6;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.tabcontent {
  color: black;
  display: block;
  padding: 100px 20px;
  height: 100%;
}