.dropdown {
	margin-left: auto;
}
.collapse {
	display: flex;
}
body {
	font-family: "Roboto Mono", serif;
}
a {
	color: #447e9b;
	text-decoration: none;
}
.submit:hover {
	background-color: #1e6ed6;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 0 0 rgba(0, 0, 0, 0.19);
}
.submit {
	background-color: white;
	width: 90%;
	color: black;
	padding: 15px;
	margin: 10px 0;
	border-radius: 8px;
	cursor: pointer;
	transition-duration: 0.4s;
	border: 2px solid #1e6ed6;
}