{% extends 'registration/registration_base.html' %}
{% block form_title %} Sign in {% endblock %}
{% block form %}
<div class="container">
    <div class="input-label">
        <label for=" {{ form.username.id_for_label }}"
            >Username
        </label>
    </div>
    <label>
        <input
            type="text"
            placeholder="Enter Username"
            name="username"
            autofocus
            autocomplete="username"
            required
            id="{{ form.username.id_for_label }}"
    /></label>
    <div class="input-label">
        <label for="{{ form.password.id_for_label }}"
            >Password
        </label>
    </div>
    <label>
        <input
            type="password"
            placeholder="Enter Password"
            name="password"
            id=" {{ form.password.id_for_label }}"
            autocomplete="current-password"
            required
        />
    </label>
    <br />
    <input class="submit" type="submit" name="Sign in " /><br />
    <a
        class="forgot-link"
        tabindex="0"
        href="{% url 'password_reset' %}"
        >Forgot password?
    </a>
</div>
{% endblock %}
