{% extends 'registration/registration_base.html' %}
{% block form_title %} Change Password {% endblock %}
{% block form %}
<div class="container">
    <div class="input-label">
        <label for="{{ form.old_password.id_for_label }}"
            >Old Password
        </label>
        {{ form.old_password.errors }}
    </div>
    <label>
        <input
            type="password"
            name="{{ form.old_password.name }}"
            id=" {{ form.old_password.id_for_label }}"
            autocomplete="current-password"
            required
        />
    </label>
    <div class="input-label">
        <label for="{{ form.new_password1.id_for_label }}"
            >New Password
        </label>
         {{ form.new_password1.errors }}
    </div>
    <label>
        <input
            type="password"
            name="{{ form.new_password1.name }}"
            id=" {{ form.new_password1.id_for_label }}"
            required
        />
    </label>
    <div class="input-label">
        <label for="{{ form.new_password2.id_for_label }}"
            >New Password again
        </label>
         {{ form.new_password2.errors }}
    </div>
    <label>
        <input
            type="password"
            name="{{ form.new_password2.name }}"
            id=" {{ form.new_password2.id_for_label }}"
            required
        />
    </label>
    <input class="submit" type="submit" name="Change Password " />
    <a
        class="forgot-link"
        tabindex="0"
        href="{% url 'password_reset' %}"
        >Forgot password?
    </a>
</div>
{% endblock %}