{% extends 'registration/registration_base.html' %}
{% block form_title %}Register {% endblock %}
{% block form %}
<div class="container">
    <div class="input-label">
        <label for=" {{ form.username.id_for_label }}">Username </label>
        {{ form.username.errors }}
    </div>
    <label>
        <input
            type="text"
            placeholder="Enter Username"
            name="username"
            autofocus
            autocomplete="username"
            required
            id="{{ form.username.id_for_label }}"
    /></label>
    <div class="input-label">
        <label for="{{ form.email.id_for_label }}"
            >Email Address
        </label>
        {{ form.email.errors }}
    </div>
    <label>
        <input
            type="email"
            placeholder="Enter Password"
            name="email"
            id=" {{ form.email.id_for_label }}"
            required
        />
    </label>
    <div class="input-label">
        <label for="{{ form.password1.id_for_label }}">Password </label>
        {{ form.password1.errors }}
    </div>
    <label>
        <input
            type="password"
            placeholder="Enter Password"
            name="password1"
            id=" {{ form.password1.id_for_label }}"
            autocomplete="current-password"
            required
        />
    </label>
    <div class="input-label">
        <label for="{{ form.password2.id_for_label }}"
            >Password Again
        </label>
        {{ form.password2.errors }}
    </div>
    <label>
        <input
            type="password"
            placeholder="Enter Password Again "
            name="password2"
            id=" {{ form.password2.id_for_label }}"
            autocomplete="current-password"
            required
        />
    </label>
    <br />
    <input class="submit" type="submit" name="Sign in " /><br />

</div>
{% endblock %}
{% block redirect_url %} {% endblock %}