{% extends 'base.html' %} {% load static %} {% block extra_head %}
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'timetable/css/timetable.css' %}"
  />
{% endblock %} {% block content %}
  <table id="table" style="display: table">
    <thead>
    <tr>
      <th>Day</th>
      <th>Subject</th>
      <th>Time</th>
      <th>Link</th>
    </tr>
    </thead>
    <tbody></tbody>

  </table>
  {{ records| json_script:'records' }}
  <script src=" {% static 'timetable/js/timetable.js' %}"></script>
{% endblock %}
