{% extends 'registration/registration_base.html' %}
{% block form_title %} Create Timetable listing {% endblock %}
{% block form %}
<div class="container">
  {{ message }}
      <div class="input-label">
          <label
              >Key Class
          </label>
      </div>
      <label>
          <select name = "{{ form.key_class.name }}" id="{{ form.key_class.id_for_label }}" required>
          <option value selected>---------</option>
          {% for i in records %}
            <option value="{{ i.id }}">{{ i.class_name }}</option>
          {% endfor %}
        </select>
      {{ form.key_class.errors }}
      </label>

      <div class="input-label">
          <label for="{{ form.subject.id_for_label }}"
              >Subject
          </label>
      </div>
      <label>
          <input
              type="text"
              name="{{ form.subject.name }}"
              id="{{ form.subject.id_for_label }}"
              required
          />
        {{ form.subject.errors }}
      </label>

    <div class="input-label">
          <label
              >Day
          </label>
    </div>
    <label>
        <select name= "{{ form.day.name }}" id="{{ form.day.id_for_label }}" required>
          {% for i in form.day.field.choices %}
           <option value="{{ i.0 }}">{{ i.1 }}</option>
          {% endfor %}
        </select>
        {{ form.day.errors }}
    </label>
    <div class="input-label">
          <label
              >Time
          </label>
    </div>
    <label>
        <input type="time" name="{{ form.time.name }}" id="{{ form.time.id_for_label }}" required>
    </label>
    {{ form.time.errors }}
    <div class="input-label">
          <label
              >Link
          </label>
    </div>
    <label>
          <input
              type="text"
              name = "{{ form.link.name }}"
              id=" {{ form.link.id_for_label }}"
              required
          />
      </label>
      {{ form.link.errors }}
    <input class="submit" type="submit" name="Sign in " />
</div>
{% endblock %}
