{% extends 'base.html' %} {% load static %} {% block extra_head %}
<link
	rel="stylesheet"
	href="{% static 'home/css/index.css' %}"
	type="text/css"
/>
<link
	rel="stylesheet"
	href="{% static 'home/css/forms.css' %}"
	type="text/css"
/>
<link
	rel="stylesheet"
	href="{% static 'home/css/posts.css' %}"
	type="text/css"
/>
{% endblock %} {% block content %}
<div id="main-container">
	<article>
		<h1 class="title is-1">Edu<span style="color: orange">Orange</span></h1>
		<p style="text-align: center">Your classroom made online</p>

	</article>
</div>
{% endblock %}
