{% extends 'base.html' %} {% load static %} {% block title %} Post {{ post.title}} {% endblock %} {% block extra_head %}
<link
	rel="stylesheet"
	href="{% static 'home/css/posts.css' %}"
	type="text/css"
/>
<link
	rel="stylesheet"
	href="{% static 'home/css/forms.css' %}"
	type="text/css"
/>
{% endblock %} {% block content %}
<div class="post-container">
	<div class="post-header">
		<div class="post-title">
			<h1 class="title is-3">{{ post.title }}</h1>
			<p>
				Posted by
				<a href="{% url 'profileView' author.username %}" class="out-link"
					>{{ post.author }}</a
				>
				at {{ post.created_at }}
			</p>
		</div>
		<div class="author">
			{% if author.profile.avatar %}
			<img
				src="{{ author.profile.avatar.url }}"
				width="50"
				alt="Profile Image"
			/>
			{% endif %}
		</div>
	</div>
	<div class="post-content">{{ post.content }}</div>
	<div class="post-links">
		<h2 id="comment-head">Comments ({{ comments| length }})</h2>
		{% if not user.is_authenticated %}
		<p class="inactive">You are not signed in, login to comment</p>
		{% endif %}
		<textarea id="comment-new" maxlength="255"> </textarea>
		<button
			class="submit"
			id="submit-comment"
			{% if not user.is_authenticated %}disabled{% endif %}
		>
			Submit
		</button>
	</div>
	<div class="comments-container">
		{% for comment in comments %}
		<div class="comment-container">
			<p class="comment-header">
				<a href="{% url 'profileView' comment.author.username %}" class="out-link"
					>{{ comment.author }}</a
				>
				<span class="inactive"> at {{ comment.created_at }}</span>
			</p>
			<p class="comment-body">{{ comment.body }}</p>
		</div>
		{% endfor %}
	</div>
</div>
{{ comments | length | json_script:'comment_length' }}
{{ pk|json_script:'post_pk' }}
<script
	src=" {% static 'home/js/post_view_detail.js' %}"
	type="module"
></script>
{% endblock %}
