/*Base CSS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

:root {
	--light-blue: hsl(199, 80%, 63%);
	--dark-blue: hsl(200, 39%, 44%);
}
html {
	background-color: unset;
}

.dropdown {
	margin-left: auto;
}

.collapse {
	display: flex;
}

body {
	font-family: 'Inter', serif;
	background-color: hsl(216, 28%, 7%);
	color: white;
}

a {
	text-decoration: none;
}


.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
}

.title {
	color: grey;
	font-size: 15px;
}

button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: black;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 15px;
}

.right-nav {
	border-right: 1px solid #304430;
}

#navigation-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
@media screen and (min-width: 1024px) {
	.navbar {
		flex-wrap: wrap;
		width: 95%;
		height: 75px;
		border-radius: 5px;
		box-sizing: border-box;
		padding: 0 20px;
	}
}
.navbar-item {
	font-size: 1.2rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.link-nav:hover {
	color: #ffffffbf;
}

.submit {
	align-self: center;
	background-color: hsl(36, 80%, 50%);
	width: auto;
	color: white;
	padding: 5px 15px;
	font-weight: 500;
	margin-top: 10px;
	border-radius: 8px;
	cursor: pointer;
	transition-duration: 0.4s;
	border: 2px solid #264b5d;
}

.submit[disabled] {
	color: black;
	background-color: grey;
	cursor: unset;
	color: hsl(35, 100%, 45%);
}

.submit:hover:enabled {
	background-color: hsl(36, 95%, 66%);
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 0 0 rgba(0, 0, 0, 0.19);
}
.navbar-divider {
	height: 1px;
	opacity: 0.25;
}
p {
	font-family: 'Roboto', sans-serif;
}
