/*Base CSS*/
:root{
    --light-blue: hsl(199, 80%, 63%);
    --dark-blue: hsl(200, 39%, 44%);
}
.dropdown {
	margin-left: auto;
}
.collapse {
	display: flex;
}
body {
	font-family: "Roboto Mono", serif;
	background-color: rgb(13, 17, 23);
	color:rgb(201, 209, 217)
}
a {
	color: var(--light-blue);
	text-decoration: none;
}

a:hover {
    color: var(--dark-blue);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;

}

.title {
  color: grey;
  font-size: 15px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
}
.active{
  color: black !important;
  background-color: var(--light-blue) !important;
}